---
// biome-ignore lint/correctness/noUnusedImports: Used in template
import { GameCanvas } from "../components/GameCanvas";
// biome-ignore lint/correctness/noUnusedImports: Used in template
import { HUD } from "../components/HUD";
// biome-ignore lint/correctness/noUnusedImports: Used in template
import { MainMenu } from "../components/UI/MainMenu";
// biome-ignore lint/correctness/noUnusedImports: Used in template
import { SplashScreen } from "../components/UI/SplashScreen";
// biome-ignore lint/correctness/noUnusedImports: Used in template
import GameLayout from "../layouts/GameLayout.astro";
---

<GameLayout title="Overcast: Glaciers!">
	<main class="h-full w-full relative">
        <GameCanvas client:only="react" />
        <HUD client:only="react" />
        <SplashScreen client:only="react" />
        <MainMenu client:only="react" />
	</main>
</GameLayout>

<style>
    .drop-shadow-glow {
        filter: drop-shadow(0 0 10px rgba(125, 211, 252, 0.8));
    }
</style>
